*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: #fff;
    background-color: black;
    margin-top: 120px;
}
section{
    display: flex;
}
.text{
    text-align: center;
    padding: 50px 88px;
}
.text h1{
    font-size: 30px;
}
.text p{
    padding: 15px 0px;
    line-height: 40px;
    font-size: 18px;
}
.chain{
    background-color: tomato;
}
.waste{
    background-color: limegreen;
}
.farming{
    background-color: orange;
}
.chain button{
    border-radius: 30px;
    padding: 10px 25px;
    border: 0.5px solid white;
    color: #fff;
    background-color: tomato;
}
.waste button{
    border-radius: 30px;
    padding: 10px 25px;
    border: 0.5px solid white;
    color: #fff;
    background-color: limegreen;
}
.farming button{
    border-radius: 30px;
    padding: 10px 25px;
    border: 0.5px solid white;
    color: #fff;
    background-color: orange;
}

@media screen and (max-width: 850px) {
    section{
        display: flex;
        flex-direction: column;
    }
    body{
        margin: 30px 0px;
    }
    .chain,.waste,.farming{
        margin: 0px 15px 30px 15px;
    }
    .text{
        text-align: center;
        padding: 20px;
    }
    .text p{
        font-size: 20px;
    }
}